.margin {
    padding: 0 350px; //임시 지정
    box-sizing: border-box;
}

.buttonMargin{
    padding: 0 300px; //임시 지정
}

.button{
    display: flex;
    justify-content: right;
    margin-top: 45px;
    margin-bottom: 130px;
}
