.label {
    display: inline-flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 17.5px;
    border: 1px solid var(--grey-grey-07, #757575);
    background: var(--grey-grey-01, #FAFAFA);
    color: #ffffff;
    font-size: 14px;
    font-weight: 500; 
}

.text{
    color: var(--grey-grey-09, #424242);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.16px;
}
