.label {
    display: inline-flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 17.5px;
    background: #77E17E;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500; 
}

.text{
    color: var(--Grey-Grey-50, #FAFAFA);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.16px;
}