.sellerInfo {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .title {
        margin-top: 45px;
        font-size: 32px;
        font-weight: 600;
    }
    .infoBox {
        margin-top: 45px;
        display: flex;
        width: 950px;
        padding: 30px 45px;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        border: 1px solid var(--Grey-Grey-400, #bdbdbd);
        //background: var(--Grey-Grey-50, #fafafa);
    }

    .profile {
        width: 100px;
        height: 100px;
        flex-shrink: 0;
        background-color: #d9d9d9;
        border-radius: 50%;
    }
  
    .name {
        font-size: 32px;
        font-weight: 600;
    }
  
    .email {
        width: 399px;
        flex-shrink: 0;
        color: var(--Grey-Grey-500, #9e9e9e);
        text-align: right;
        font-size: 32px;
        font-weight: 400;
        letter-spacing: -0.32px;
        line-height: normal;
    }
  }
